doctype html
html
  head
    include ./header.jade

  body
    include ./newkeymodal.jade
    include ./topnavbar.jade
    include ./keyval_home.jade

    script(src='/assets/libs/require.js', data-main='assets/js/main')
