.modal.fade.newkey-modal(tabindex='-1', role='dialog', aria-labelledby='newKeyModalLabel', aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#newKeyModalLabel.modal-title Add a new key-value pair.
      .modal-body
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label(for='redis-key') Key
            .col-sm-10
              input#redis-key.form-control(type='text', placeholder='NS.mykey')
          .form-group
            label.col-sm-2.control-label(for='redis-value') Value
            .col-sm-10
              input#redis-value.form-control(type='text', placeholder='myvalue')
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default(type='submit') Save
