include ./header.jade
.container
    .row
      .row
        .col-md-4.col-md-offset-4
            .text-center
              img.img-circle.login(src='assets/radishlogo.png', height='70')
              h4.h4.text-center Forgot Password?
              .panel-body
                form.form(action='/login', method='POST')
                  fieldset
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.glyphicon.glyphicon-envelope.color-blue
                        input#emailInput.form-control(placeholder='email address', name="email")
                      input.btn.btn-lg.btn-primary.btn-block(value='Send My Password', type='submit')
                      if message
                        h5.text-center.text-danger #{message}
