div.row
  div.col-sm-3.col-md-2.sidebar
    ul.nav.nav-sidebar
      li.active
        a(href="#", id="namespaces")
          span(class="glyphicon glyphicon-list", aria-hidden="true")
          span(class="glyphicon-class") Namespaces
      li
        a(href="#", id="upload")
          span(class="glyphicon glyphicon-cloud-upload", aria-hidden="true")
          span(class="glyphicon-class") Upload
      li
        a(href="/download", id="backup")
          span(class="glyphicon glyphicon-download-alt", aria-hidden="true")
          span(class="glyphicon-class") Backup
