.col-md-12
  table(id="collabTable" class="table table-striped" style="cursor: pointer;")
    thead
      tr
        th(style="text-align: center;") id
        th(style="text-align: center;") email
        th(style="text-align: center;") Username
        th(style="text-align: center;") Role
        th(style="text-align: center;") Reset
        th(style="text-align: center;") Status
        th(style="text-align: center;") Namespaces
    tbody
      tr
        td 0
        td Val1
        td Val2
        td Val3
        td Val1
        td Val2
        td Val3
