.col-md-12
  table(id="mainTable" class="table table-bordered" style="cursor: pointer;")
    thead
      tr
        th(style="text-align: center;") #
        th(style="text-align: center;") Key
        th(style="text-align: center;") Value
    tbody
      each pair, index in keyvals
        each val, key in pair
          tr
            td= index
            td(data-key=key)= key
            td(id=key data-val=val)= val
